@model IEnumerable<WebRestaurante.Models.Empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <h1>Empleados</h1>
            <a asp-action="Create">
                <i class="fas fa-plus me-2"></i>Agregar Empleado
            </a>
           
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Cargo</th>
                        <th>Usuario Registro</th>
                        <th>Fecha Registro</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrimerApellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SegundoApellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cargo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaRegistro)
                            </td>
                            <td>
                                @(item.Estado == 1 ? "Activo" : "Inactivo")
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>