@model IEnumerable<WebRestaurante.Models.Factura>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create">Nueva Factura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBebidaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdComidaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBebidaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdComidaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Datos</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Elimiar</a>
            </td>
        </tr>
}
    </tbody>
</table>
